.main{
    height: calc(100vh - 7vh - 10px);
    padding: 0;
}

section {
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
}

section > p {
    font-size: 16pt;
    font-family: proxima-nova, sans-serif;
    color: rgb(207, 207, 207);
    line-height: 2;
}

.title {
    font-size: 20pt;
    color: white;
}