body {
    background-color: #000;
    margin: 0;
    overflow: hidden;
}

section {
    padding: 20px;
}

h1 {
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 10px;

    font-size: 24pt;
    font-family: proxima-nova, sans-serif;
    font-weight: bold;
}

.main {
    background-image: linear-gradient(#631e17, #121212 30%);

    border-radius: 15px;

    margin-top: 70px;
    margin-left: 280px;
    margin-right: 7px;

    overflow-y: auto;
    scroll-behavior: smooth;

    height: calc(100vh - 70px - 7px);

    padding: 0;
}


.top-bar {
    background-color: #000;

    position: fixed;
    top: 0;
    width: 100vw;
    height: 70px;

    font-family: proxima-nova, sans-serif;
    font-size: 14pt;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.top-bar a {
    overflow: hidden;
    color: #fff;
    text-align: center;
    padding: 21px 16px;
    transition-duration: 0.3s;
    cursor: pointer;
}

.top-bar a:hover {
    background: #c0392b;
}

.centered {
    
}


.side-bar {
    overflow-y: auto;
    background-image: linear-gradient(#631e17, #121212 30%);

    border-radius: 15px;

    position: fixed;

    top: 70px;
    left: 7px;

    height: calc(100vh - 70px - 20px - 7px);
    width: 265px;

    padding-top: 20px;

    font-family: proxima-nova, sans-serif;
    font-size: 12pt;
    font-weight: 600;
}

.side-bar a {
    float: top;
    display: block;
    color: #a7a7a7;
    text-align: left;
    margin-bottom: 10px;
    margin-left: 30px;
    text-decoration: none;
}

.side-bar a:hover {
    color: #eeeeee;
}


.sideways-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.gallery-item {
    background-color: #18181870;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 0px;
    padding: 20px;
    transition-duration: 0.3s;
    cursor: pointer;
}

.gallery-item:hover {
    /* background-color: #333333; */
    background-color: #c0392b;
}

.gallery-image {
    box-shadow: 0px 0px 10px black;
}

.gallery-text {
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 0;

    font-size: 14pt;
    font-family: proxima-nova, sans-serif;
    font-weight: bold;
}

.gallery-subtext {
    color: #a7a7a7;
    margin: 0;

    font-size: 12pt;
    font-family: proxima-nova, sans-serif;
}

.video {
    /*width: calc(100vw - 60px);
    height: calc((100vw - 60px) * (9.0/16));*/
    width: 700px;
    height: 500px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f100;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}