body {
    background-color: #121212;
    scroll-behavior: smooth;
    margin: 0;
}

section {
    padding: 15px;
}

h1 {
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 10px;

    font-size: 24pt;
    font-family: proxima-nova, sans-serif;
    font-weight: bold;
}

.main {
    margin-top: 46px;
    margin-left: 250px;
    height: 900px;
}


.top-bar {
    overflow: hidden;
    background-color: #000000;
    position: fixed;
    top: 0;
    width: 100%;

    font-family: proxima-nova, sans-serif;
}

.top-bar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.top-bar a:hover {
    background: #ddd;
    color: black;
}

.centered {
    width: 50%;
    margin: 0 auto;
}


.side-bar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    left: 0;
    height: 100%;
    width: 225px;

    font-family: proxima-nova, sans-serif;
}

.side-bar a {
    float: top;
    display: block;
    color: #a7a7a7;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.side-bar a:hover {
    color: #eeeeee;
}


.sideways-gallery {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.gallery-item {
    background-color: #181818;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 0px;
    padding: 20px;
    transition-duration: 0.3s;
    cursor: pointer;
}

.gallery-item:hover {
    background-color: #333333;
}

.gallery-image {
    box-shadow: 0px 0px 10px black;
}

.gallery-text {
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 0;

    font-size: 14pt;
    font-family: proxima-nova, sans-serif;
    font-weight: bold;
}

.gallery-subtext {
    color: #a7a7a7;
    margin: 0;

    font-size: 12pt;
    font-family: proxima-nova, sans-serif;
}

.video {
    /*width: calc(100vw - 60px);
    height: calc((100vw - 60px) * (9.0/16));*/
    width: 560px;
    height: 313px;
}