body {
    background-color: #000;
    margin: 0;
    overflow: hidden;
}

section {
    padding: 20px;
}

h1 {
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 10px;

    font-size: 24pt;
    font-family: proxima-nova, sans-serif;
    font-weight: bold;
}

.main {
    background-image: linear-gradient(#c0392b, #121212);

    border-radius: 15px;

    margin-top: 70px;
    margin-left: 280px;
    margin-right: 7px;

    overflow-y: scroll;
    scroll-behavior: smooth;


    padding: 10px;
}

.main2 {
    border-radius: 15px;

    margin-top: 10px;
    margin-left: 280px;
    margin-right: 7px;
    margin-bottom: 7px;
    
    height: calc((100vh - 70px - 7px) / 2 - 65px);

    padding: 0px;
}


.top-bar {
    background-color: #000;

    position: fixed;
    top: 0;
    width: 100vw;
    height: 70px;

    font-family: proxima-nova, sans-serif;
    font-size: 14pt;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.top-bar a {
    overflow: hidden;
    color: #fff;
    text-align: center;
    padding: 21px 16px;
    transition-duration: 0.3s;
    cursor: pointer;
}

.top-bar a:hover {
    background: #c0392b;
}

.circle {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    background-color: #242424;
    border-radius: 22px;
    padding: 10px;
    cursor: pointer;
}

.circle:hover {
    background-color: #363636;
}

.oval {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    background-color: #242424;
    border-radius: 22px;
    padding: 10px 20px;
    cursor: pointer;
}

.material-symbols-outlined {
    color: #fff;
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}


.side-bar {
    overflow-y: auto;
    background-image: linear-gradient(#c0392b, #121212 40%);

    border-radius: 15px;

    position: fixed;

    top: 70px;
    left: 7px;

    height: calc(100vh - 70px - 20px - 7px);
    width: 265px;

    padding-top: 20px;

    font-family: proxima-nova, sans-serif;
    font-size: 12pt;
    font-weight: 600;
}

.side-bar a {
    float: top;
    display: block;
    color: #bebebe;
    text-align: left;
    margin-bottom: 10px;
    margin-left: 30px;
    text-decoration: none;
}

.side-bar a:hover {
    color: #fff;
}

.playlist-header{
    display: flex;
    flex-direction: row;
}

.playlist-image {
    box-shadow: 0px 0px 10px black;
    width: 250px;
    height: 250px;
}

.playlist-text-area{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-left: 30px
}
.playlist-text-area p{
    font-family: proxima-nova, sans-serif;
    margin-bottom: 0;
}

.tag {
    font-size: 10pt;
    color: #ffffff;
    margin-top: 10px;
}

.name{
    font-weight: bold;
    font-size: 48pt;
    color: #ffffff;
    margin-top: 0px;
}

.description{
    font-size: 12pt;
    color: #d1d1d1;
    margin-top: 5px;
}

.artist{
    font-size: 14pt;
    color: #ffffff;
    margin-top: 10px;
}

.time {
    font-size: 12pt;
    color: #d1d1d1;
}

.music-buttons{
    display: flex;
    flex-direction: row;
    align-content: center;
}

.music-buttons div{
    font-family: proxima-nova, sans-serif;
    color: #ffffff;
    border-radius: 25px;
    width: 300px;
    height: 50px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    margin-right: 40px;
}

.spotify{
    background-color: #16D760;
    cursor: pointer;
}

.spotify:hover {
    background-color: #15bc55;
}

.apple-music{
    background-color: #FB233C;
    cursor: pointer;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f100;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}