body {
    background-color: #000;
    margin: 0;
    overflow: hidden;
}

section {
    padding: 30px;
}

h1 {
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 10px;

    font-size: 24pt;
    font-family: proxima-nova, sans-serif;
    font-weight: bold;
}

.main {
    background-image: linear-gradient(#5d231e, #5d231e 30%, #121212);

    border-radius: 15px;

    margin-top: 52px;
    margin-left: 280px;
    margin-right: 7px;

    overflow-y: scroll;
    scroll-behavior: smooth;

    height: calc(100vh - 52px - 7px);

    padding: 0;
}


.top-bar {
    overflow: hidden;
    background-color: #000;

    position: fixed;
    top: 0;
    width: 100vw;
    height: 52px;

    font-family: proxima-nova, sans-serif;
}

.top-bar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition-duration: 0.3s;
}

.top-bar a:hover {
    background: #c0392b;
}

.centered {
    width: 50%;
    margin: 0 auto;
}


.side-bar {
    overflow-y: auto;
    background-image: linear-gradient(#631e17, #121212 30%);

    border-radius: 15px;

    position: fixed;

    top: 52px;
    left: 7px;

    height: calc(100vh - 52px - 20px - 7px);
    width: 265px;

    padding-top: 20px;

    font-family: proxima-nova, sans-serif;
    font-size: 12pt;
    font-weight: 600;
}

.side-bar a {
    float: top;
    display: block;
    color: #a7a7a7;
    text-align: left;
    margin-bottom: 10px;
    margin-left: 30px;
    text-decoration: none;
}

.side-bar a:hover {
    color: #eeeeee;
}

.top {
    background-image: linear-gradient(#c0392b, #5d231e);
}

.playlist-header{
    display: flex;
    flex-direction: row;
}

.playlist-image {
    box-shadow: 0px 0px 10px black;
    width: 250px;
    height: 250px;
}

.playlist-text-area{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-left: 30px
}
.playlist-text-area p{
    font-family: proxima-nova, sans-serif;
    margin-bottom: 0;
}

.tag {
    font-size: 10pt;
    color: #ffffff;
    margin-top: 10px;
}

.name{
    font-weight: bold;
    font-size: 48pt;
    color: #ffffff;
    margin-top: 0px;
}

.description{
    font-size: 12pt;
    color: #d1d1d1;
    margin-top: 5px;
}

.artist{
    font-size: 14pt;
    color: #ffffff;
    margin-top: 10px;
}

.time {
    font-size: 12pt;
    color: #d1d1d1;
}

.music-buttons{
    display: flex;
    flex-direction: row;
    align-content: center;
}

.music-buttons div{
    font-family: proxima-nova, sans-serif;
    color: #ffffff;
    border-radius: 25px;
    width: 300px;
    height: 50px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    margin-right: 20px;
}

.spotify{
    background-color: #1ED760;
}

.apple-music{
    background-color: #FB233C;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f100;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}